@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Eudoxus Sans", sans-serif;
  scroll-behavior: smooth;
}


      /* LENIS */

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.dark-theme{
  --main: #000;
  --para-color: #FFFFFF;
  --bg-card:#303147;
  --border-color:#FFFFFF;
  --btn-back: #393A4D;
  --info-color: white;
  --border-line: black;
  --card-border: white;
  --border-shadow: none;
  --grey-back:  #303147;
  --saved-border-shadow:none;
  --username:#fff;
}

.light-theme{
  --main: #FFFFFF;
  --para-color: #000;
  --bg-card:#fff;
  --border-color:black;
  --card-border: none;
  --btn-back: #F3F3F3;
  --info-color: #878787;
  --border-line: none;
  --border-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --grey-back: #F6F6F6;
  --saved-border-shadow: 10px 10px 10px 10px rgb(242, 242, 246);
  --username:#1F244A;
}
@font-face{
  font-family: "suisseRegular";
  src: url('/Fonts/SuisseRegular.ttf');
}
@font-face{
  font-family: "suisseLight";
  src: url('/Fonts/SuisseLight.ttf');
}
@font-face{
  font-family: "monoRegular";
  src: url('/Fonts/SpaceMono.ttf');
}
@font-face{
  font-family: "acuminPro";
  src: url('/Fonts/AcuminPro.ttf');
}
@font-face{
  font-family: "articulatCFRegular";
  src: url('/Fonts/ArticulatCFRegular.ttf');
}




.bg_main{
  background-color: #000;
  min-height: 100vh;
}


/* Navbar */
.navbar_heading{
  @apply text-[24px] md:text-[36px] font-[suisseRegular] text-[#fff];
}

.menu{
  @apply text-[18px] md:text-[20px] leading-[20px] md:leading-[24px] font-[monoRegular] text-[#fff];

}

 /* Hero  */

 .hero_subtext{
  @apply text-[12px] md:text-[16px] leading-[16px] md:leading-[20px] font-[monoRegular] text-[#8A8474] text-right;
 }

 .hero_chat_text{
  @apply text-[8px] md:text-[12px] leading-[16px] md:leading-[20px] font-[monoRegular] text-[#8A8474];

 }

 .chat_container{
  @apply bg-[#1D1C1A] w-fit p-1 rounded-xl pl-6 pr-6 ;
 }
 .hero_main_heading{
  @apply text-[18px] md:text-[130px] leading-[20px] md:leading-[24px] font-[suisseLight] text-[#fff] text-center font-[100];

 }

 .each_list_hero_heading{
  @apply text-[24px] md:text-[32px] leading-[20px] md:leading-[32px] font-[acuminPro] text-[#fff] flex gap-3;

 }

 .each_list_hero_text{
  @apply text-[16px] md:text-[18px] leading-[18px] md:leading-[20px] font-[monoRegular] text-[#8A8474];

 }

 .header_button{
  @apply border-[1px] border-[#8A8474] w-fit p-1 rounded-2xl pl-6 pr-6 ;

 }


 .header_button_text{
  @apply text-[16px] md:text-[20px] leading-[18px] md:leading-[24px] font-[articulatCFRegular] text-[#8A8474];

 }

 .view_more_contianer{
  @apply bg-[#1D1C1A] w-fit p-1 rounded-2xl pl-3 pr-3;

 }

 .view_more_btn{
  @apply text-[12px] md:text-[16px] leading-[20px] md:leading-[25px] font-[acuminPro] text-[#8A8474] ;

 }

    /* FOOTER */

 .horizantal_line{
  @apply border-b-[1px] border-[#8A8474] ;

 }

 .footer_text{
  @apply text-[12px] md:text-[16px] leading-[16px] md:leading-[20px] font-[acuminPro] text-[#fff] ;

 }
 .footer_header{
  @apply text-[12px] md:text-[24px] leading-[16px] md:leading-[28px] font-[acuminPro] text-[#fff] ;

 }
 .footer_bottom_text{
  @apply text-[12px] md:text-[14px] leading-[20px] md:leading-[25px] font-[acuminPro] text-[#8A8474] text-center py-3 ;

 }

 /* FAQ */
 .question_text{
  @apply text-[12px] md:text-[24px] leading-[16px] md:leading-[28px] font-[acuminPro] text-[#fff] ;

 }

 .answer_text{
  @apply text-[16px] md:text-[18px] leading-[18px] md:leading-[20px] font-[monoRegular] text-[#8A8474];

 }

 .card_text{
  @apply text-[12px] md:text-[14px] leading-[18px] md:leading-[24px] font-[acuminPro] text-[#fff];
 }

 .card_left_text{
  @apply text-[16px] md:text-[16px] leading-[18px] md:leading-[20px] font-[monoRegular] text-[#fff];

 }

 .story_header{
  @apply text-[18px] md:text-[100px] leading-[20px] md:leading-[115px] font-[suisseLight] text-[#fff] text-center font-[100];

 }

 .card_story_text_left{
  @apply text-[16px] md:text-[24px] leading-[18px] md:leading-[28px] font-[suisseLight] text-[#fff];

 }

 .card_story_text_right{
  @apply text-[16px] md:text-[18px] leading-[18px] md:leading-[20px] font-[monoRegular] text-[#8A8474];

 }

 .bg_main{
overflow:  hidden !important;
 }